
img{
    width: 430px;
    height: 400px;

}
.image{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}