* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
   
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
    margin: 0; 
     
}

   
input, select, button {
    font-family: arial;
    color: black;
    font-size: 14px; 
}
   
h3 {
    margin: 0; 
}



.formulaire {
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    
}

.interieur {
    padding: 40px;
    background: brown;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.interieur form {
    width: 100%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px; 
}
.interieur h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px; 
}

.text-formulaire {
    display: flex;
}

.text-formulaire input {
    width: 100%; 
}
.text-formulaire input:first-child {
    margin-right: 25px;
}
input:focus {
    outline: none;
}
.text-formulaire-1 {
    position: relative;
}


.formulaire-control {
    border: 1px solid black;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    height: 40px;
    padding-right: 0;
    margin-bottom: 45px; 
}
.formulaire-control::-webkit-input-placeholder {
    font-size: 14px;
    color: gray;
    font-family: arial; 
}

    
select {
    font-size: 14px;
    font-family: arial;
    cursor: pointer;
    color: gray;
}
select option[value=""][disabled] {
    display: none; 
}

button {
    border: none;
    width: 165px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: black;
    font-size: 15px;
    color: whitesmoke;
}

@media (max-width: 720px){
    .interieur{
        display: block;
    }
    .interieur .image-formulaire{
        display: none;
    }
    .interieur form{
        width: 100%;
        padding: 50px 0 40px;
    }
}

