.bg{
    background-color:brown;

    padding: 60px;
    margin-top: 100px;
    width:600px;
    height:500px;
    margin-left:310px;
    margin-top: 75px;
    padding-bottom:50px;
    padding-right: 52px;
    margin-left: auto;
    margin-right: auto;
    }
    


.image{
float: left;
width:60%;
height: 100%;
margin-bottom: 20px;
padding-bottom: 10px;
margin-top: -17px;
margin-right: 10px;
padding-right: 5px;
margin-left: -41px;
    
}

p{
display: flex;
width:10%;
height: 20%;
margin-top: 10px;
color: #fff;
font-size: 25px;
padding-left: 20px;
margin-right: 10%;
margin-left: 10%;
}
body{
background-image: url(.jpg);
background-repeat: no-repeat;
background-size: cover;
}


.bg header{
text-transform: uppercase;
font-size: 20px;
text-align: center;
color: #d3d3d3;
}
@media (max-width:567px){

p {
width: 20%;
text-align: center;
}
.image{
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}
header{
width: 20%;
text-align: center;
padding-left: 113px;
}

body{width: 30%;
    background-image: none;

}

.bg{
    top: 0;
    left: 0;
    height: 500px;
}





}